body {
  background-color: #E6E3DE;
  background-image: url("../img/backdrop.jpeg");
  background-size: 130%;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-shadow: 3px 3px #0f0f0f;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 64px;
}

ul {
  list-style-type: none;
  text-align: center;
  font-size: 36px;
}

ul a {
  color: coral;
  text-decoration: none;
}

#active_page {
  color: white;
}
