body {
  background-image: url("../img/backdrop2.png");
  background-repeat: repeat;
  opacity: .6;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, serif;
}

li a:hover {
    background-color: #111;
}

#active_page {
    background-color: #0D5892;
    color: white;
}

img {
  height: 200px;
}

div.photo_reel {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

div.header {
  background-image: url("../img/backdrop.jpeg");
  background-color: blue;
  color: white;
  text-shadow: 2px 2px black;
  padding: 20px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-family: courier;
  font-size: 16px;
}

p {
  font-family: Georgia, serif;
  font-size: 16px;
}
